In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("서울시 공동주택 아파트 정보.csv", encoding = 'cp949')

In [9]:
df = df[["k-아파트명","주소(시군구)","주소(읍면동)", "k-사용검사일-사용승인일", "k-연면적"]]

In [19]:
filter1 = (df["주소(시군구)"] == "노원구")
filter2 = (df["주소(시군구)"] == "서초구")

In [22]:
df1 = df.loc[filter1, :]
df1

                k-아파트명 주소(시군구) 주소(읍면동)          k-사용검사일-사용승인일     k-연면적
4             월계동원베네스트     노원구     월계동  2005-03-31 00:00:00.0   24680.0
18              공릉대동1차     노원구     공릉동  1999-04-30 00:00:00.0   19659.0
23                공릉신원     노원구     공릉동  2000-02-14 00:00:00.0   18796.0
48              공릉1동삼익     노원구     공릉동  1997-10-28 00:00:00.0   20892.0
87               대망드림힐     노원구     상계동  2003-06-27 00:00:00.0   22457.0
...                ...     ...     ...                    ...       ...
2516        상계중앙하이츠아파트     노원구     상계동  1996-10-12 00:00:00.0   15840.0
2535             세양청마루     노원구     월계동  2005-10-27 00:00:00.0   15522.0
2548         포레나노원 아파트     노원구     상계동  2020-11-25 00:00:00.0  153921.0
2601  해링턴 플레이스 에듀포레아파트     노원구     공릉동  2021-11-19 00:00:00.0  191973.0
2602        청년주택 와이엔타워     노원구     공릉동  2021-12-02 00:00:00.0   11793.0

[207 rows x 5 columns]

In [23]:
df2 = df.loc[filter2, :]
df2

             k-아파트명 주소(시군구) 주소(읍면동)          k-사용검사일-사용승인일     k-연면적
5     양재우성KBS(113동)     서초구     양재동  1996-12-31 00:00:00.0   16533.0
11           잠원한신그린     서초구     잠원동  1993-01-21 00:00:00.0   17968.0
26           엠브이아파트     서초구     반포동  1994-07-28 00:00:00.0   21910.0
33        서초1차e편한세상     서초구     서초동  2004-08-24 00:00:00.0   37212.0
56        서초2차e편한세상     서초구     서초동  2005-02-24 00:00:00.0   30500.0
...             ...     ...     ...                    ...       ...
2543      서초센트럴아이파크     서초구     서초동  2020-09-07 00:00:00.0   48712.0
2549        래미안리더스원     서초구     서초동  2020-09-25 00:00:00.0  267016.0
2579     디에이치반포라클라스     서초구     반포동  2021-06-04 00:00:00.0  160162.0
2583         서초그랑자이     서초구     서초동  2021-06-29 00:00:00.0  286625.0
2587      방배그랑자이아파트     서초구     방배동  2021-07-23 00:00:00.0  157182.0

[142 rows x 5 columns]

In [26]:
df1.to_csv("노원구.csv", index=False, encoding="utf-8-sig")

In [27]:
df2.to_csv("서초구.csv", index=False, encoding="utf-8-sig")

#### 데이터 병합

In [37]:
df1 = pd.read_csv("행정안전부_지역별(법정동) 성별 연령별 주민등록 인구수_20220831.csv", encoding = 'cp949')

In [38]:
df1["통계년월"] = df1["기준연월"]
df1 = df1.drop(["기준연월"], axis=1)

In [45]:
df1["통계년월"] = "2022-08-22"

In [39]:
filter1 = (df1["시도명"] == "서울특별시")
df1 = df1.drop(["법정동코드", "리명"], axis=1)
df1 = df1.loc[filter1, :]

In [12]:
df2 = pd.read_csv("지역별(법정동) 성별 연령별 주민등록 인구수_20220731.csv", encoding = 'cp949')
filter1 = (df2["시도명"] == "서울특별시")
df2= df2.drop(["법정동코드", "리명"], axis=1)
df2 = df2.loc[filter1, :]

In [48]:
df2["통계년월"] = "2022-07-31"

In [14]:
df3 = pd.read_csv("지역별(법정동) 성별 연령별 주민등록 인구수_20220630.csv", encoding = 'cp949')
filter1 = (df3["시도명"] == "서울특별시")
df3 = df3.drop(["법정동코드", "리명"], axis=1)
df3 = df3.loc[filter1, :]

In [16]:
df4 = pd.read_csv("지역별(법정동) 성별 연령별 주민등록 인구수_20220531.csv", encoding = 'cp949')
filter1 = (df4["시도명"] == "서울특별시")
df4 = df4.drop(["법정동코드", "리명"], axis=1)
df4 = df4.loc[filter1, :]

In [18]:
df5 = pd.read_csv("지역별(법정동) 성별 연령별 주민등록 인구수_202204.csv", encoding = 'cp949')
filter1 = (df5["시도명"] == "서울특별시")
df5 = df5.drop(["법정동코드", "리명"], axis=1)
df5 = df5.loc[filter1, :]

In [20]:
df6 = pd.read_csv("지역별(법정동) 성별 연령별 주민등록 인구수_202203.csv", encoding = 'cp949')
filter1 = (df6["시도명"] == "서울특별시")
df6 = df6.drop(["법정동코드", "리명"], axis=1)
df6 = df6.loc[filter1, :]

In [22]:
df7 = pd.read_csv("지역별(법정동) 성별 연령별 주민등록 인구수_202202.csv", encoding = 'cp949')
filter1 = (df7["시도명"] == "서울특별시")
df7 = df7.drop(["법정동코드", "리명"], axis=1)
df7 = df7.loc[filter1, :]

In [24]:
df7 = pd.read_csv("지역별(법정동) 성별 연령별 주민등록 인구수.csv", encoding = 'cp949')
filter1 = (df7["시도명"] == "서울특별시")
df7 = df7.drop(["법정동코드", "리명"], axis=1)
df7 = df7.loc[filter1, :]

In [51]:
df_total = pd.concat([df1, df2, df3, df4, df5, df6, df7])

In [36]:
df_total["읍면동명"].unique()

array(['청운동', '신교동', '궁정동', '효자동', '창성동', '통의동', '적선동', '통인동', '누상동',
       '누하동', '옥인동', '체부동', '필운동', '내자동', '사직동', '도렴동', '당주동', '내수동',
       '신문로1가', '신문로2가', '청진동', '서린동', '수송동', '중학동', '종로1가', '공평동', '관훈동',
       '견지동', '와룡동', '권농동', '운니동', '익선동', '경운동', '관철동', '인사동', '낙원동',
       '종로2가', '팔판동', '삼청동', '안국동', '소격동', '화동', '사간동', '가회동', '재동', '계동',
       '원서동', '묘동', '봉익동', '돈의동', '장사동', '관수동', '종로3가', '인의동', '예지동',
       '원남동', '연지동', '종로4가', '효제동', '종로5가', '종로6가', '이화동', '연건동', '충신동',
       '동숭동', '혜화동', '명륜1가', '명륜2가', '명륜4가', '명륜3가', '창신동', '숭인동', '교남동',
       '평동', '송월동', '홍파동', '교북동', '행촌동', '구기동', '평창동', '부암동', '홍지동',
       '신영동', '무악동', '무교동', '다동', '태평로1가', '을지로1가', '을지로2가', '삼각동', '장교동',
       '수표동', '소공동', '남창동', '북창동', '태평로2가', '남대문로2가', '남대문로3가', '남대문로4가',
       '남대문로5가', '봉래동1가', '봉래동2가', '회현동1가', '회현동2가', '회현동3가', '충무로1가',
       '충무로2가', '명동1가', '명동2가', '남산동1가', '남산동2가', '남산동3가', '저동1가',
       '충무로4가', '충무로5가', '인현동2가', '예관동', '묵정동', '필동1가', '필동2가', '필동3가',
       '남학동', '주자동', '예장동', '장충동1가', '장충동2가', '광희동1가', '광희동2가', '쌍림동',
       '을지로6가', '을지로7가', '을지로4가', '을지로5가', '주교동', '방산동', '오장동', '을지로3가',
       '입정동', '산림동', '충무로3가', '초동', '인현동1가', '저동2가', '신당동', '흥인동', '무학동',
       '황학동', '서소문동', '정동', '순화동', '의주로1가', '충정로1가', '중림동', '의주로2가',
       '만리동1가', '만리동2가', '후암동', '용산동2가', '용산동4가', '갈월동', '남영동', '동자동',
       '서계동', '청파동1가', '청파동2가', '청파동3가', '원효로1가', '원효로2가', '신창동', '산천동',
       '청암동', '원효로3가', '원효로4가', '효창동', '도원동', '용문동', '문배동', '신계동',
       '한강로1가', '한강로2가', '용산동3가', '용산동5가', '한강로3가', '이촌동', '이태원동', '한남동',
       '동빙고동', '서빙고동', '주성동', '보광동', '상왕십리동', '하왕십리동', '홍익동', '도선동',
       '마장동', '사근동', '행당동', '응봉동', '금호동1가', '금호동2가', '금호동3가', '금호동4가',
       '옥수동', '성수동1가', '성수동2가', '송정동', '용답동', '중곡동', '능동', '구의동', '광장동',
       '자양동', '화양동', '군자동', '신설동', '용두동', '제기동', '전농동', '답십리동', '장안동',
       '청량리동', '회기동', '휘경동', '이문동', '면목동', '상봉동', '중화동', '묵동', '망우동',
       '신내동', '성북동', '성북동1가', '돈암동', '동소문동1가', '동소문동2가', '동소문동3가',
       '동소문동4가', '동소문동5가', '동소문동6가', '동소문동7가', '삼선동1가', '삼선동2가', '삼선동3가',
       '삼선동4가', '삼선동5가', '동선동1가', '동선동2가', '동선동3가', '동선동4가', '동선동5가',
       '안암동1가', '안암동2가', '안암동3가', '안암동4가', '안암동5가', '보문동4가', '보문동5가',
       '보문동6가', '보문동7가', '보문동1가', '보문동2가', '보문동3가', '정릉동', '길음동', '종암동',
       '하월곡동', '상월곡동', '장위동', '석관동', '미아동', '번동', '수유동', '우이동', '쌍문동',
       '방학동', '창동', '도봉동', '월계동', '공릉동', '하계동', '상계동', '중계동', '수색동',
       '녹번동', '불광동', '갈현동', '구산동', '대조동', '응암동', '역촌동', '신사동', '증산동',
       '진관동', '충정로2가', '충정로3가', '합동', '미근동', '냉천동', '천연동', '옥천동', '영천동',
       '현저동', '북아현동', '홍제동', '대현동', '대신동', '신촌동', '봉원동', '창천동', '연희동',
       '홍은동', '북가좌동', '남가좌동', '아현동', '공덕동', '신공덕동', '도화동', '용강동', '토정동',
       '마포동', '대흥동', '염리동', '노고산동', '신수동', '현석동', '구수동', '창전동', '상수동',
       '하중동', '신정동', '당인동', '서교동', '동교동', '합정동', '망원동', '연남동', '성산동',
       '중동', '상암동', '목동', '신월동', '염창동', '등촌동', '화곡동', '가양동', '마곡동',
       '내발산동', '외발산동', '공항동', '방화동', '개화동', '오곡동', '오쇠동', '신도림동', '구로동',
       '가리봉동', '고척동', '개봉동', '오류동', '궁동', '온수동', '천왕동', '항동', '가산동',
       '독산동', '시흥동', '영등포동', '영등포동1가', '영등포동2가', '영등포동3가', '영등포동4가',
       '영등포동5가', '영등포동6가', '영등포동7가', '영등포동8가', '여의도동', '당산동1가', '당산동2가',
       '당산동3가', '당산동4가', '당산동5가', '당산동6가', '당산동', '도림동', '문래동1가', '문래동2가',
       '문래동3가', '문래동4가', '문래동5가', '문래동6가', '양평동1가', '양평동2가', '양평동3가',
       '양평동4가', '양평동5가', '양평동6가', '신길동', '대림동', '노량진동', '상도동', '상도1동',
       '본동', '흑석동', '동작동', '사당동', '대방동', '신대방동', '봉천동', '신림동', '남현동',
       '방배동', '양재동', '우면동', '원지동', '잠원동', '반포동', '서초동', '내곡동', '염곡동',
       '신원동', '역삼동', '개포동', '청담동', '삼성동', '대치동', '논현동', '압구정동', '세곡동',
       '자곡동', '율현동', '일원동', '수서동', '도곡동', '잠실동', '신천동', '풍납동', '송파동',
       '석촌동', '삼전동', '가락동', '문정동', '장지동', '방이동', '오금동', '거여동', '마천동',
       '명일동', '고덕동', '상일동', '길동', '둔촌동', '암사동', '성내동', '천호동', '강일동',
       '수유2동', '세종로'], dtype=object)

In [53]:
df_total.to_csv("서울시 지역별 성별 연령별 주민등록 인구수.csv", index=False, encoding="utf-8-sig")

속성 압축

In [5]:
df = pd.read_csv("C:/Users/chanw/Desktop/Jupyter Notebook/KWVIP/데이터/인구 데이터/서울시 지역별 성별 연령별 주민등록 인구수.csv")

In [8]:
# 만0-9 / 만10-19 / 만20-29 / 만30-39 / 만40-49 / 만50-59/ 만60-69 / 만70이상
df

,시도명,시군구명,읍면동명,계,남자,여자,만0세남자,만1세남자,만2세남자,만3세남자,...,만102세여자,만103세여자,만104세여자,만105세여자,만106세여자,만107세여자,만108세여자,만109세여자,만110세이상여자,통계년월
0,서울특별시,종로구,청운동,2314,1149,1165,4,6,7,7,...,0,0,0,0,0,0,0,0,0,2022-08-22
1,서울특별시,종로구,신교동,1397,628,769,1,2,3,1,...,0,0,0,0,0,0,0,0,0,2022-08-22
2,서울특별시,종로구,궁정동,252,105,147,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2022-08-22
3,서울특별시,종로구,효자동,574,256,318,1,0,3,1,...,0,0,0,0,0,0,0,0,0,2022-08-22
4,서울특별시,종로구,창성동,446,185,261,1,1,0,2,...,0,0,0,0,0,0,0,0,0,2022-08-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,서울특별시,강동구,둔촌동,24760,12212,12548,84,70,72,71,...,0,1,0,0,0,0,0,0,0,2022-01-31
3201,서울특별시,강동구,암사동,67598,33228,34370,178,177,258,241,...,0,1,0,0,1,0,0,0,0,2022-01-31
3202,서울특별시,강동구,성내동,66439,32492,33947,148,170,164,175,...,1,1,1,2,0,1,0,0,1,2022-01-31
3203,서울특별시,강동구,천호동,86351,42290,44061,275,209,194,206,...,2,0,0,1,0,0,0,0,0,2022-01-31
3204,서울특별시,강동구,강일동,32859,15782,17077,127,175,195,149,...,1,1,0,0,0,1,0,0,0,2022-01-31

In [39]:
#남자
df["만0-9세남자"] = df.iloc[:, 6:16].sum(axis=1) #0-9
df["만10-19세남자"] = df.iloc[:, 16:26].sum(axis=1) #10-19
df["만20-29세남자"] = df.iloc[:, 26:36].sum(axis=1) #20-29
df["만30-39세남자"] = df.iloc[:, 36:46].sum(axis=1) #30-39
df["만40-49세남자"] = df.iloc[:, 46:56].sum(axis=1) #40-49
df["만50-59세남자"] = df.iloc[:, 56:66].sum(axis=1) #50-59
df["만60-69세남자"] = df.iloc[:, 66:76].sum(axis=1) #60-69
df["만70세이상남자"] = df.iloc[:, 76:117].sum(axis=1) #70-

In [40]:
#여자
df["만0-9세여자"] = df.iloc[:, 117:127].sum(axis=1) #0-9
df["만10-19세여자"] = df.iloc[:, 127:137].sum(axis=1) #10-19
df["만20-29세여자"] = df.iloc[:, 137:147].sum(axis=1) #20-29
df["만30-39세여자"] = df.iloc[:, 147:157].sum(axis=1) #30-39
df["만40-49세여자"] = df.iloc[:, 157:167].sum(axis=1) #40-49
df["만50-59세여자"] = df.iloc[:, 167:177].sum(axis=1) #50-59
df["만60-69세여자"] = df.iloc[:, 177:187].sum(axis=1) #60-69
df["만70세이상여자"] = df.iloc[:, 187:228].sum(axis=1) #70-

In [52]:
df_new = pd.concat([df.iloc[:, 0:6], df.iloc[:, 228:]], axis=1)

In [54]:
df_new.to_csv("서울시 지역별 성별 연령별 주민등록 인구수 합.csv", index=False, encoding="utf-8-sig")

In [6]:
df = pd.read_csv("./데이터/인구 데이터/지역별(법정동) 성별 연령별 주민등록 인구수_20220930.csv", encoding = 'cp949')

In [9]:
filter1 = (df["시도명"] == "서울특별시")
df = df.drop(["법정동코드", "리명"], axis=1)
df = df.loc[filter1, :]

In [12]:
df["통계년월"] = df["기준연월"]
df = df.drop(["기준연월"], axis=1)

In [14]:
df1 = pd.read_csv("./데이터/인구 데이터/행정안전부_지역별(법정동) 성별 연령별 주민등록 인구수_20221031.csv", encoding = 'cp949')

In [15]:
filter1 = (df1["시도명"] == "서울특별시")
df1 = df1.drop(["법정동코드", "리명"], axis=1)
df1 = df1.loc[filter1, :]
df1["통계년월"] = df1["기준연월"]
df1 = df1.drop(["기준연월"], axis=1)

In [18]:
df2 = pd.read_csv("./데이터/인구 데이터/서울시 지역별 성별 연령별 주민등록 인구수.csv")

In [23]:
df_total = pd.concat([df1, df, df2])

In [25]:
df_total.to_csv("서울시 지역별 성별 연령별 주민등록 인구수.csv", index=False, encoding="utf-8-sig")

In [26]:
df = df_total

In [29]:
#남자
df["만0-4세남자"] = df.iloc[:, 6:11].sum(axis=1) #0-4
df["만5-9세남자"] = df.iloc[:, 11:16].sum(axis=1) #5-9

df["만10-14세남자"] = df.iloc[:, 16:21].sum(axis=1) #10-14
df["만15-19세남자"] = df.iloc[:, 21:26].sum(axis=1) #15-19

df["만20-24세남자"] = df.iloc[:, 26:31].sum(axis=1) #20-24
df["만25-29세남자"] = df.iloc[:, 31:36].sum(axis=1) #25-29

df["만30-34세남자"] = df.iloc[:, 36:41].sum(axis=1) #30-34
df["만35-39세남자"] = df.iloc[:, 41:46].sum(axis=1) #35-39

df["만40-44세남자"] = df.iloc[:, 46:51].sum(axis=1) #40-44
df["만45-49세남자"] = df.iloc[:, 51:56].sum(axis=1) #45-49

df["만50-54세남자"] = df.iloc[:, 56:61].sum(axis=1) #50-54
df["만55-59세남자"] = df.iloc[:, 61:66].sum(axis=1) #55-59

df["만60-64세남자"] = df.iloc[:, 66:71].sum(axis=1) #60-64
df["만65-69세남자"] = df.iloc[:, 71:76].sum(axis=1) #65-69

df["만70세이상남자"] = df.iloc[:, 76:117].sum(axis=1) #70-

In [30]:
#여자
df["만0-4세여자"] = df.iloc[:, 117:122].sum(axis=1) #0-4
df["만5-9세여자"] = df.iloc[:, 122:127].sum(axis=1) #5-9

df["만10-14세여자"] = df.iloc[:, 127:132].sum(axis=1) #10-14
df["만15-19세여자"] = df.iloc[:, 132:137].sum(axis=1) #15-19
                                                                                                                                
df["만20-24세여자"] = df.iloc[:, 137:142].sum(axis=1) #20-24
df["만25-29세여자"] = df.iloc[:, 142:147].sum(axis=1) #25-29

df["만30-34세여자"] = df.iloc[:, 147:152].sum(axis=1) #30-34
df["만35-39세여자"] = df.iloc[:, 152:157].sum(axis=1) #35-39

df["만40-44세여자"] = df.iloc[:, 157:162].sum(axis=1) #40-44
df["만45-49세여자"] = df.iloc[:, 162:167].sum(axis=1) #45-49

df["만50-54세여자"] = df.iloc[:, 167:172].sum(axis=1) #50-54
df["만55-59세여자"] = df.iloc[:, 172:177].sum(axis=1) #55-59

df["만60-64세여자"] = df.iloc[:, 177:182].sum(axis=1) #60-64
df["만65-69세여자"] = df.iloc[:, 182:187].sum(axis=1) #65-69

df["만70세이상여자"] = df.iloc[:, 187:228].sum(axis=1) #70-

In [31]:
df_new = pd.concat([df.iloc[:, 0:6], df.iloc[:, 228:]], axis=1)

In [33]:
df_new.to_csv("서울시 지역별 성별 연령별 주민등록 인구수 합.csv", index=False, encoding="utf-8-sig")